services:
  rspamd:
    image: rspamd/rspamd:latest
    dns: ${UNBOUND_IP:-192.0.2.254}
    depends_on:
      - unbound
      - redis
    environment:
      - RSPAMD_REDIS_SERVERS=redis
      - RSPAMD_USE_BAYES=1
      #- RSPAMD_USE_GREYLIST=1
    volumes:
      - rspamd-data:/var/lib/rspamd
      - ./config/rspamd:/etc/rspamd
    # Recommended for production:
    #read_only: true

  redis:
    image: redis:latest
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis-data:/data

  unbound:
    image: alpinelinux/unbound:latest
    networks:
      default:
        ipv4_address: ${UNBOUND_IP:-192.0.2.254}
    # Alternatively use a volume mount for this config if you don't want to
    # leverage the config flexibility of ENV `UNBOUND_IP` + `UNBOUND_SUBNET`
    configs:
      - source: unbound-config
        target: /etc/unbound/unbound.conf

configs:
  unbound-config:
    content: |
       server:
         access-control: ${UNBOUND_SUBNET:-192.0.2.0/24} allow
         do-ip6: no
         interface: 0.0.0.0
         logfile: ""

networks:
  default:
    name: unbound-network
    ipam:
      config:
        - subnet: ${UNBOUND_SUBNET:-192.0.2.0/24}

volumes:
  redis-data:
  rspamd-data:
