services:
  rspamd:
    image: rspamd/rspamd:latest
    dns: 192.0.2.254
    depends_on:
      - unbound
      - redis
    environment:
      - RSPAMD_REDIS_SERVERS=redis
      - RSPAMD_USE_BAYES=1
      #- RSPAMD_USE_GREYLIST=1
    volumes:
      - rspamd-data:/var/lib/rspamd
      - ./config/rspamd:/etc/rspamd
    # Recommended for production:
    #read_only: true

  redis:
    image: redis:latest
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis-data:/data

  unbound:
    image: alpinelinux/unbound:latest
    networks:
      default:
        ipv4_address: 192.0.2.254
    volumes:
      - ./config/unbound:/etc/unbound

networks:
  default:
    name: unbound-network
    ipam:
      config:
        - subnet: 192.0.2.0/24

volumes:
  redis-data:
  rspamd-data:
